<div>
    <h1 align="center">Search Movies</h1>
</div><br>
<div align="center" class="container-fluid">
<input [(ngModel)]  = "edm">
</div>
<br>
<br>
<div align="center" class="container">
<app-home [id] ="edm" (showmee)="onMovieClick($event) "></app-home>

<br />
<table>

<tr style="border:1px solid black;">
    <th style="border:1px solid black;">NameMovie</th>
    <th style="border:1px solid black;">TypeMovie</th>
    <th style="border:1px solid black;">MoviePrice</th>
    <th style="border:1px solid black;">Movieid</th>
</tr>


<tr >
<td style="border:1px solid black;">{{geturl.NameMovie}}</td>
<td style="border:1px solid black;">{{geturl.TypeMovie}}</td>
<td style="border:1px solid black;">{{geturl.MoviePrice}}</td>
<td style="border:1px solid black;">{{geturl.Movieid}}</td>
</tr>

</table>
</div>
